{
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "extends": [
    "plugin:vue/essential",
    "prettier-standard"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  }
}